.container {
    width: 100%;
    max-width: 70rem;
    padding-top: 5rem;
    padding-inline: 1.5rem;
    letter-spacing: -.05rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
}

.trails__component {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    border-bottom: 1px solid #ffbf1070;
    overflow-x: auto;
    scrollbar-width: none;
    /* Firefox */
}

.main__box::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, etc. */
}


.trails__title {
    font-family: 'Sora', sans-serif;
    letter-spacing: -1%;
    font-size: clamp(1.4rem, 4vw, 2.5rem);
    width: 100%;
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
}

.text__red {
    color: #ffc110;
    font-weight: 600;
}

@media (max-width: 768px) {
    .container {
        padding-top: 2rem;
        margin-bottom: 2rem;
        gap: 1.5rem;
    }

    .trails__title {
        font-weight: 600;
    }
}