.container {
    background-color: white;
    width: 100%;
    height: auto;
    min-height: 40rem;
    position: relative;
    padding-top: 4rem;
}

.float__card {
    position: absolute;
    top: -1.6rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.slider__card {
    background-color: var(--black-background);
    padding-block: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: max-content;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.box__card,
.box__card__small {
    color: white;
    font-size: 0.75rem;
    white-space: nowrap;
}

.box__icon {
    color: var(--text-blue-color);
    font-size: 1.2rem;
    flex-shrink: 0;
}

/* Tablet and Desktop */
@media (min-width: 768px) {
    .container {
        min-height: 60rem;
        padding-top: 6rem;
    }

    .slider__card {
        padding-block: 1.5rem;
    }

    .box__card,
    .box__card__small {
        font-size: 0.9rem;
    }

    .box__icon {
        font-size: 1.5rem;
    }
}