.container,
.container__sel {
    letter-spacing: -.05rem;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    border-radius: 0.6rem 0.6rem 0 0;
    padding: 0.8rem 1.2rem;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container__sel {
    border-bottom: 3px solid #ffc110;
    opacity: 1;
    background-color: rgba(255, 191, 16, 0.05);
}


.container:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}

.trail__title {
    font-size: clamp(1rem, 2vw, 1.4rem);
}

@media (max-width: 930px) {

    .container,
    .container__sel {
        flex: 1;
        padding: 0.8rem 0.5rem;
    }

    .trail__title {
        display: none;
    }
}