.container {
    box-sizing: border-box;
    padding-block: 5rem;
    width: 100%;
    max-width: 86rem;
    margin: 0 auto;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: #E4E4E4;
    padding-inline: 1.5rem;
}

.session__title {
    color: #fff8e3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: clamp(1.6rem, 5vw, 2.5rem);
    font-family: 'Sora', sans-serif;
    font-weight: 600;
}

.icon {
    height: 2rem;
    width: 2rem;
}

.text {
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        padding-block: 3rem;
    }

    .session__title {
        text-align: center;
    }
}