.container {
    background: #fff8e3 url('../../../public/LANDPAGE/logo_vulpes_computador.jpeg') no-repeat bottom right;
    background-size: 50% auto;
    width: 100%;
    min-height: 70vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .container {
        background-image: none;
        min-height: auto;
        padding-block: 2rem;
    }
}


@media (min-width: 1024px) {
    .container {
        background-size: contain;
        min-height: 80vh;
    }
}